<h1>Your Cart</h1>
<% if @cart.empty? %>
<h3>Your Cart is Empty</h3>
<% else %>
<%= link_to "Empty Your Card", cart_clear_path %>
<% end %>
<br><br><br>
<% total = 0 %>

<ul>
<% @cart.each do |id, quantity| %>
  <% product = Product.find_by_id(id) %>

  <li>
    <%= link_to product.title, product %> 
    <p> <%= product.description %> </p>
    <p> <%= number_to_currency(product.price, :unit => 'ZAR') %></p>
    <p>Quantity: <%= quantity %></p>
  </li>
  <% total += quantity * product.price %>
<% end %>
<p><b><%= number_to_currency(total, :unit => "ZAR") %></b></p>
</ul>

<%= link_to "Pay Now?", new_subscriber_path %>
