<p id="notice"><%= notice %></p>

<h1>Pick Your Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Image</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <%= link_to 'New Product', new_product_path %>
    <% @products.each do |product| %>
      <tr>
      <% if current_user.try(:admin?) %>
       <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%=link_to( image_tag(product.image.url), product)%></td>
        <td><%= product.category %></td>
        <!-- <td><%= link_to 'Show', product %></td> -->
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        <td><a href="/cart/<%= product.id %>">Add To Cart</a></td>
        <% else %>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%=link_to( image_tag(product.image.url), product)%></td>
        <td><%= product.category %></td>
        <td><%= link_to 'Show', product %></td>
        <td><a href="/cart/<%= product.id %>">Add To Cart</a></td>

        <% end %>
         </div>
        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

